@media (min-width: 1400px) {
	.main__stats, .main__morals {
		justify-content: center;
	}
	.presentation__title, .layout .presentation__text, .projects__container, .articles__container, .actors__title, .timeline__title {
		width: 1200px;
		margin: auto;
	}
	.publications .main__list {
		width: 1200px;
		margin: -160px auto 80px;
	}

	.main__presentation, .main__contact {
		padding-right: 0;
		padding-left: 0;
	}
	.contact__container {
		margin: auto;
	}

	.projects .projects__item, .projects .projects__item:nth-child(2n) {
		justify-content: center;
	}
}
@media (min-width: 880px) and (max-width: 1200px) {
	.projects .projects__project {
		width: 880px;
	}
	.projects .projects__item:nth-child(2n) .project__fig {
		margin-left: 10px;
	}
}