.fade {
	transition: ease-in-out .75s;
	opacity: 0;
	transform: translateY(2em);
}
.inview {
	opacity: 1;
	transform: none;
}

.actors__link:hover {
	background-color: #DDA458;
}
.projects__link:hover, .articles__link:hover, .main__about .actor__link:hover, .projects .project__link:hover, .singleMain a:hover {
	background-color: #DDA458;
	color: #fff;
}
.singleMain .main__return:hover, .publications a:hover {
	background-color: transparent;
	text-decoration: underline;
}
.contact__input:focus {
	border: 1px solid #000;
	outline: 1px solid #000;
}
.contact__submit:hover {
	background-color: #DDA458;
}


.header__item:hover {
	text-decoration: underline;
	color: #fff;
}
.footer__link:hover {
	text-decoration: underline;
}

.layout .main__item:hover .main__articleContainer {
	height: 100%;
	margin-top: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 59.9%);
}
.layout .main__item:hover .article__title {
	padding-bottom: 80px;
}
.layout .main__item:hover .article__more {
	opacity: 1;
}


.mainContact .contact__infos .infos__link:hover, .mainContact .infos__promo a:hover {
	text-decoration: underline;
}

.privacy__link:hover {
	text-decoration: underline;
}