.header__nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 60px;
    min-width: 100vw;
    background-color: rgba(0,0,0,.75);
}
.header__link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header__link .header__title {
    margin-left: 30px;
}
.header__title {
    display: inline;
    font-family: LivvicBold, sans-serif;
    font-size: 30px;
}
.header__logo {
    display: inline;
}
.header__item {
    display: inline-block;
    margin: 20px 30px 0 0;
    font-size: 20px;
}

.header__item:hover {
    text-decoration: underline;
    color: #fff;
}