.projects .main__presentation {
    background-image: url("../../src/images/bg_3.jpg");
    background-size: cover;
    height: 100vh;
}
.projects .main__presentation .presentation__title {
    margin: 30vh auto 0;
    padding-top: 10vh;
    border-top: 2px solid #DDA458;
    width: 75vw;
}

.projects .main__title {
    color: #000;
    padding-top: 80px;
    margin-bottom: 40px;
}

.projects .projects__item {
    width: 100vw;
    display: flex;
    margin-bottom: 80px;
}
.projects .projects__item:nth-child(2n) {
    justify-content: flex-end;
}
.projects .projects__item:nth-child(2n) .project__container {
    grid-template-areas:
        "name fig"
        "text fig"
        "link fig";
}
.projects .projects__item:nth-child(2n) .project__fig {
    margin-left: 330px;
}
.projects .projects__project {
    background-color: #fff;
    width: 1200px;
    height: 350px;
}

.projects .projects__project div {
    display: grid;
    grid-template-areas:
        "fig name"
        "fig text"
        "fig link";
}
.projects div div.project__name {
    grid-area: name;
    display: flex;
    align-items: center;
    height: 100px;
    margin: 40px 80px 20px;
    width: 200px;
}
.projects .project__title {
    font-family: LivvicBlack, sans-serif;
    font-size: 45px;
}
.projects .project__icon {
    height: 100px;
    margin-left: 12px;
}
.projects .project__fig {
    grid-area: fig;
    width: 350px;
    height: 350px;
}


.projects .project__fig img {
    height: 100%;
    width: 100%;
}
.projects .project__description {
    grid-area: text;
    margin-left: 80px;
}
.projects .project__link {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: link;
    margin: 40px 0 -40px 80px;
    background-color: #000;
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: LivvicBlack, sans-serif;
    width: 360px;
}